body {
    //font-size: 16px;
}

.bigFont {
    font-size: 20px;
}

#inPID7 {
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
    text-align: right;
}

#btnOK {
    width: 60px;
    height: 30px;
}

#tableResult {
    margin-top: 20px;
}
#tableResult > thead {
    display:none;
    background-color:#B5CFDC; 
}

#tableResult th {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:400px) {
    body {
        font-size:0.8em;
    }
}